@font-face {
    font-family: 'airborneregular';
    src: url('airborne-webfont.woff2') format('woff2'),
         url('airborne-webfont.woff') format('woff');
}

.navbarstyle {
	background-color: #facd10;
}

#navtitle::after{
	content: '2';
	color: #e70012;
	font-size: 25px;
}

.buttonStyle.navbar-toggler {
	 border-style: none;
}

.buttonStyle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header::after{
	content: '';
	display: table;
	clear:both;
	background-color: #facd10;
}

.fontStyle{
    color: #000000;
    text-decoration: none;
    font-family: 'airborneregular';     
	font-size: 20px;
}

a:hover.fontStyle {
	color: #666;
}

a:link.fontStyle {
	color: #000;
}

a:hover#navtitle, a:link#navtitle, a:visited#navtitle, a:active#navtitle {
	color: #000;
}
